{% extends 'base.html' %}

{% block title %}
     Profile
{% endblock %}

{% block content %}
    <h2>Hi {{ request.user.phone_number }}, Wellcome To Divar  </h2>
    {% csrf_token %}
    <a href="http://127.0.0.1:8000/account/login/"> Logout!</a><br>
    <br>
    <br>
    <br>
    <p>Account Phone: {{ user.phone_number }}</p>
    <input type="text" VALUE="Nickname" readonly>
    <br>


        <h2>Posted Advertisements</h2>
        {% for adv in user.advertisements.all %}
            <a href="{{ adv.get_absolute_url }}"><h3>{{ adv.title }}</h3></a>
            <p>price :{{ adv.price }}$</p>
            <br>
            <br>
        {% endfor %}



{% endblock %}
